$font-stack: "Poppins", sans-serif;

$primary-color: rgba(79, 70, 229);
$secondary-color: rgba(5, 150, 105);
$tertiary-color: rgba(220, 38, 38);

$text-color: #fff;
$background-item-color: rgb(255, 255, 255, 0.1);

$breakpoint-tablet: 768px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: $font-stack;
  background: #000;
  font-size: 1em;
}

button {
  width: 49%;
  height: 35px;
  cursor: pointer;
  border: none;
  color: #fff;
  transition: filter 0.2s linear;
  border-radius: 2px;
}
button:hover {
  filter: brightness(1.5);
}
